body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color:rgb(65, 67, 70);
    background-color: rgb(255, 255, 255);

    max-width: 1200px;
    max-height: 100%;
    margin: auto; margin-top: 2em;

    display: flex;

    /* border: red solid 0.5px; */
}

/* Left Column */

.information {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: sticky; top: 0px;  
    width: 400px; 
    height: 600px;
}

img {
    width: 300px; height: 200px;
}

.left_content {
    margin-left: 0.5em;
}

.avatarName {
    text-align: center;
}

.linkedin_link:visited {
    color: rgb(65, 67, 70);
}

.linkedin1_link:link {
    color: rgb(65, 67, 70);
}

.fa-linkedin-square {
    color: var(--primiary-light);
    transition: transform 0.3s ease-in-out;
}
.fa-linkedin-square:hover {
    transform: rotate(360deg) scale(1.2);
}

.github_link:link {
    color:rgb(65, 67, 70);
}
.github_link:visited {
    color: rgb(65, 67, 70);
}

.fa-github {
    color: var(--primiary-light);
    transition: transform 0.3s ease-in-out;
}
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}


/* Right Column */
.content {
    
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    /* border:rgb(74, 76, 78) solid 1px; */
    /* display: flex; */

    flex-direction: column;
    text-align: center;
    
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

.content-columns {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    /* border:rgb(65, 67, 70) solid 1px; */
    text-align: left;
    margin: 0px 10px 10px 10px; padding: 10px 10px 10px 10px;


    font-size: larger; font-weight: bolder;
}

.aboutme {
    font-size: medium; font-weight: 400;

}

.sidenote {
    font-size: smaller;
}

/* Skill Section with Progress Bars */
.skill-tech {
    display: flex;
    gap: 10px;
}
.pm {
    font-size: medium;
}
.skill-pm {
    background-color: rgb(145, 171, 255);
    border-radius: 10px;
    padding: 1.5px;
    max-width: 150px;
    font-size: 12px;
    height: 18px;
    position: relative;
}

.skill-pm span {
    position: absolute;
    width: 100%;
    text-align:center;
}

.exp-desc {
    font-size: medium; font-weight: 400;
}


